body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    background-color: #000000;
    margin: auto;
    width: 100%;
    max-width: 1230px;
    /* width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    #bc00eb */
}

.border {
    list-style: none;
    padding: 0px 140px;
}

.border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 3px 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.border a {
    color: #F6D27E;
}

.border li:nth-child(1) {
    border-color: #8bc63e;
}

.border li:nth-child(2) {
    border-color: #8bc63e;
}

.border li:nth-child(3) {
    border-color: #8bc63e;
}

.border li:nth-child(4) {
    border-color: #8bc63e;
}

.border li:nth-child(5) {
    border-color: #8bc63e;
}

p {
    text-align: center;
    color: #F6D27E;
}

h2 {
    text-align: center;
    color: #F6D27E;
    margin: 15px 0 0 0;
    font-size: 48px;
}

h3, h4 {
    text-align: center;
    color: #F6D27E;
    margin: 15px 0;
    font-size: 36px;
}

h5 {
    text-align: center;
    color: #F6D27E;
    margin: 15px 0 0 0;
    font-size: 18px;
}

h6 {
    text-align: center;
    color: #F6D27E;
    margin: 15px 0 0 0;
    font-size: 18px;
}

.a__last {
    text-align: center;
    font-size: 15px;
    color: #F6D27E;
}

.flooter__sl {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 64px;
}

table {
    border-spacing: 0;
    empty-cells: hide;
    margin: auto
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
}

td:first-child {
    text-align: left;
    color: #3D3511;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    color: #3D3511;
    border-bottom: 1px solid #F4EEE8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td:nth-child(even) {
    background: #F6D27E;
}

td:nth-child(odd) {
    background: #D1C7BF;
}

th:nth-child(even) {
    background: #F6D27E;
}

th:nth-child(odd) {
    background: #D1C7BF;
}

.round-top {
    border-top-left-radius: 5px;
}

.round-bottom {
    border-bottom-left-radius: 5px;
}

tr:hover td {
    background: #D1C7BF;
    font-weight: bold;
}

.table {
    margin: auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #F6D27E;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #F6D27E;
    text-transform: uppercase;
    transition: color .1s linear, background-color .1s linear;
}

.btn:hover {
    background-color: #F6D27E;
    color: rgb(255, 255, 255);
}

.buy {
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.rain {
    position: fixed;
    width: 1px;
    /* Ширина капли */
    height: 3px;
    /* Высота капли */
    top: -3px;
    background-color: #fff;
    /* Цвет капли */
    animation: rain 1.2s linear infinite;
    z-index: 99;
    border-radius: 1px;
}

@media (max-width: 590px) {
    body {
        font-size: 10px;
    }
    p {
        font-size: 15px;
    }
    th {
        padding: 5px 10px;
    }
    td {
        padding: 5px 10px;
    }
    p {
        margin: 10px;
    }
    h6 {
        margin: 15px 15px;
        font-size: 16px;
    }
    .flooter__sl {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 48px;
    }

    .border {
        padding: 0px 20px;
    }

    .border li{
        font-size: 15px;
    }
}

@keyframes rain {
    to {
        transform: translate3d(100px, 1000px, 0);
        /* Первое значение (100px) это направление дождя, где: 0 - вниз, положительное число - вправо, отрицательное - влево */
    }
}